body{
    background-color: #edeaff;
}
.stopwatch{
    font-family: sans-serif,'Poppins';
    color:#fff;
    text-align: center;
    width: 90%;
    max-width: 600px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(background.png);
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    margin: 200px auto 0;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0,0, 0, 0.2);

}
.stopwatch h1{
    font-size: 64px;
    font-weight: 300;
    margin-top: 60px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons img{
    width: 50px;
    cursor: pointer;
    margin: 0 20px;
}
.buttons img:nth-child(2){
    width: 80px;
}