*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background : linear-gradient(135deg,#4203a9,#90bafc);
    color: #fff;
}
.container{
    /* border: 2px solid black; */
    margin: 12%;
    width: 90%;
    max-width: 600px;
}
.container h1{
    font-size: 60px;
}
span{
    color: yellow;
    border-bottom: 4px solid yellow;
    padding-bottom: 7px;
}
.age{
    /* width: 90%;*/
    max-width: 500px; 
    margin: 40px 0;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 35px;
    background-color: rgba(255,255,255,0.3);
}
.age input{
 flex:1;
 font-size: 18px;
 padding: 10px 20px;
 margin-right: 20px;
 border-radius: 5px;
 border: none;
 outline: none;
 position: relative;
}
.age button{
    border:none;
    outline: none;
    padding: 15px 30px;
    font-weight: 500;
    background: #ffff76;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
}
/* .age input::-webkit-calendar-picker-indicator{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100%-10px);
    background-size: 30px;
    cursor: pointer;
} */
     
